/Teacher.xml
/announce.xml
/automatic.xml
/c3p0-config.xml
/fileManage.xml
/henu/
/loginPageNews.xml
/notice.xml
/onlineCommunication.xml
/paperstate.xml
/struts.xml
/student.xml
/studentmanage.xml
/studentt.xml
/teacherinfo.xml
/timelimit.xml
/upload.xml
/upload2.xml
